<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | Beppe Karlsson{% else %}Beppe Karlsson{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <!--TO DO: Open Graph-->
    <meta property="og:title" content="Beppe Karlsson" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://beppek.github.io/" />
    <meta property="og:image" content="http://beppek.github.io/img/beppe.png" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="http://beppek.github.io/">
    <link type="text/plain" rel="author" href="/humans.txt" />
</head>
