/**
 * Site header
 */
.site-header {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $menu-background;

    @include media-query($on-palm) {
        width: 100%;
        background-color: $link-color;
        height: 60px;
        position: absolute!important;
    }

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 20px auto 0;
    text-align: center;
    float: left;
    width: $menu-width;

    &,
    &:visited {
        color: $text-color;
    }

    @include media-query($on-palm) {
        margin: 0 auto;
    }
}

.site-nav {
    text-emphasis: after;
    position: absolute;
    top: -webkit-calc(50% - 56px);
    top:         calc(50% - 56px);
    transform: translateY(-50%);
    margin: 0 auto;

    .menu-icon {
        display: none;
    }

    .page-link {
        text-align: center;
        width: $menu-width;
        color: $text-color;
        font-size: 18px;
        line-height: $base-line-height;
        display: block;
        transition: color ease 0.2s;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-top: 20px;
        }
        &:hover {
            color: $hover-nav-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 35px;
        right: 10px;
        background-color: $link-color;
        border-radius: 5px;
        text-align: left;

        .menu-icon {
            display: block;
            float: left;
            width: 26px;
            height: 26px;
            line-height: 0;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-light;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            text-align: center;
        }

        &:hover .trigger {
            display: block;
            position: absolute;
            top: 25px;
            left: -55px;
            padding: 5px 35px 10px;
            background-color: $link-color;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: 0 0 0 $menu-width;
    text-align: right;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: right;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 $footer-height;
    max-width: 800px;
    margin: 80px auto 0;

    @include media-query($on-palm) {
        margin-left: $spacing-unit!important;
    }

    @include media-query($on-laptop) {
        margin-right: $spacing-unit;
    }

    @include media-query($on-medium) {
        margin-left: $menu-width * 2;
    }

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        background-color: $menu-background;
        padding: $spacing-unit / 2;
        position: relative;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
h2 .post-link {
    color: $header-color;

    &:hover {
        color: $hover-nav-color;
    }

}
p .post-excerpt {
    color: $text-color;

    //&:hover {
    //    color: lighten($link-color, 45%);
    //}
}
p .read-more {
    position: absolute;
    bottom: -$base-line-height;
    right: 0;
    background-color: $menu-background;
    padding: $spacing-unit / 10;

    &:hover {
        background-color: lighten($menu-background, 5%);
    }
}



    /**
     * Posts
     */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;

        h2 {
            font-size: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }
    }




/**
* Keep the Footer down!
* http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
*/
html,
body {
    height: -webkit-calc(100% - (#{$footer-height}));
    height:         calc(100% - (#{$footer-height}) / 2);
}
#pageWrapper {
    min-height: 100vh;
    overflow: hidden;
    position:relative;
}
.site-footer {
    width: -webkit-calc(100% - (#{$menu-width}));
    width:         calc(100% - (#{$menu-width}));
    height: $footer-height;
    position:absolute;
    bottom:0;
    left:0;
}

